<a href="https://colab.research.google.com/github/seo-minsu/Python_Programming_Study/blob/main/pandas_exercises/09_Time_Series/Getting_Financial_Data/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [10]:
import pandas as pd
from datetime import datetime

import matplotlib.pyplot as plt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

--> 2015년 1월 1일부터 현재 날짜까지의 날짜 범위 생성

In [5]:
##날짜 범위 생성 함수: pandas.date_range

start_date = '2015-01-01'
end_date = datetime.today()

date_range = pd.date_range(start=start_date, end=end_date)

date_range

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2024-11-03', '2024-11-04', '2024-11-05', '2024-11-06',
               '2024-11-07', '2024-11-08', '2024-11-09', '2024-11-10',
               '2024-11-11', '2024-11-12'],
              dtype='datetime64[ns]', length=3604, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

--> Pandas Datareader에서 지원하는 API 중 하나에 대한 API 키 가져와라, AlphaVantage API 키 선호

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

--> Pandas datareader에서 사용할 수 있는 API가 여러가지가 있지만 그 중 알파빈티지 API가 가장 간단함. 회원가입 하고 바로 키 복사해서 쓰면 됨

In [8]:
import pandas_datareader.data as web
api_key = 'DV8J848ACN9CMSGT'

## 이건 GPT가 제안한 해당 키 활용 예시인데 잘 안되었음
##data = web.Datareader('AAPL', 'av-daily', start='2020-01-01', end='2024-11-12', api_key=api_key)
##data.head()

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [9]:
start_date = '2015-01-01'
end_date = datetime.today()
df_AAPL = web.DataReader('AAPL','av-daily', start=start_date, end=end_date, api_key=api_key)

df_AAPL

               open     high      low   close    volume
2015-01-02  111.390  111.440  107.350  109.33  53204626
2015-01-05  108.290  108.650  105.410  106.25  64285491
2015-01-06  106.540  107.430  104.630  106.26  65797116
2015-01-07  107.200  108.200  106.695  107.75  40105934
2015-01-08  109.230  112.150  108.700  111.89  59364547
...             ...      ...      ...     ...       ...
2024-11-05  221.795  223.950  221.140  223.45  28111338
2024-11-06  222.610  226.065  221.190  222.72  54561121
2024-11-07  224.625  227.875  224.570  227.48  42137691
2024-11-08  227.170  228.660  226.405  226.96  38328824
2024-11-11  225.000  225.700  221.500  224.23  41345521

[2482 rows x 5 columns]

In [ ]:
## 꺾은선 그래프 그리기
plt.plot(df_AAPL.index, df_AAPL['close'], label = 'Apple Stock Price(Close)')
plt.xlabel

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

### Step 7. Create a dataFrame called vol, with the volume values.

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015